
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}
.App {
  height: 100vh;
  /* padding: 15px 30px; */
  margin: auto;
  background-color: #fff;
  position: relative;
}

:root{
  --buttonBg : #5436DD;
}